@using CorporeWebPortal.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CorporeWeb</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <header id="header" data-offset-el="index-section" data-offset-bevarior="button" role="banner">
            <div class="header-inner">
                <div id="logoWrapper" class="wrapper" data-content-field="site-title">
                    @Html.ActionImage("Index", "Home", null, "~/images/logo-corporeweb-146X36.png", "CorporeWeb", "CorporeWeb")
                </div>
                <div class="headerNav navbar navbar-fixed-top">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </header>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="panel-footer navbar-fixed-bottom">
            <p>&copy; @DateTime.Now.Year - Copyright W2R Consultoria e Desenvolvimento de Sistemas - Todos os direitos reservados - CorporeWeb - 1.4.0 |
            <a href="#" title="Termo de Uso |">Termo de Uso |</a>
            <a href="#" title="Politica de Privacidade |">Politica de Privacidade</a>
            
            </p>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        <script type="text/javascript">$(document).ready(function(){$("#cnpj").mask("99.999.999/9999-99");});</script>
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
